modules = ["nodejs-20", "web"]
[agent]
expertMode = true

[nix]
channel = "stable-25_05"

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[[workflows.workflow]]
name = "Start application"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"
waitForPort = 5000

[workflows.workflow.metadata]
outputType = "webview"

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 5555
externalPort = 3000

[userenv]

[userenv.shared]
NEXT_PUBLIC_HEDERA_ACCOUNT_ID = "0.0.6913405"
NEXT_PUBLIC_HEDERA_NETWORK = "testnet"
NEXT_PUBLIC_WALLETCONNECT_PROJECT_ID = "b7f40149984135cf1c643959ed0de69a"
